Repository Nemocas/AbstractAlgebra.jl, pull requests merged in 2020-03, with the labels that each got.

#567 Add AdditiveGroup, AdditiveGroupElem
  src/AbstractAlgebra.jl
  src/AbstractTypes.jl
Labels: breaking

#579 make docstests pass again
  docs/src/direct_sum.md
  docs/src/matrix.md
  docs/src/polynomial.md
  docs/src/ytabs.md
  src/generic/GenericTypes.jl
  src/generic/Matrix.jl
  src/generic/PermGroups.jl
Labels: doc

#582 remove docstring for inv(M::Generic.MatrixElem{<:FieldElement})
  docs/src/matrix.md
  src/generic/Matrix.jl
Labels: doc

#583 docs: fix wrong spacing in docstrings, which breaks highlighting
  src/generic/AbsSeries.jl
  src/generic/LaurentSeries.jl
  src/generic/MPoly.jl
  src/generic/Module.jl
  src/generic/ModuleHomomorphism.jl
  src/generic/Poly.jl
  src/generic/PuiseuxSeries.jl
  src/generic/RelSeries.jl
  src/julia/Integer.jl
Labels: doc

#580 docs: adjust wrong BigInt("123") constructor example
  docs/src/constructors.md
Labels: bugfix, doc
